<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
<div class="sherparpa-ru-by-html">
      <div class="div-page-wrapper">
        <div class="div-page">
          <div class="banner">
            <div class="div-tg-container">
              <div class="div-logo">
                <div class="figure-link-sherpa">
                  <div class="sherpa-logo-svg">
                    <img class="element-robot" src="/static/images/083-robot-4-150x150-png.png"/>
                    <div class="digital-support">Digital<br />Support</div>
                  </div>
                </div>
                <div class="heading"><div class="link-s">S</div></div>
              </div>
              <div class="div-headerphonewrap">
                <div class="link"><div class="text-wrapper">+7 (989)-282-2109</div></div>
                <button class="button"><div class="div">связь с нами</div></button>
              </div>
              <a href="https://t.me/ochulaevskii"><img class="element" src="/static/images//404151-pd1dbt-985-1.png" /></a>
            </div>
          </div>
          <div class="main">
            <div class="div-pgc">
              <div class="div-swiper-slide">
                <div class="overlap">
                  <div class="overlap-group-wrapper">
                    <div class="overlap-group">
                      <div class="text-wrapper-2">Цифровая поддержка</div>
                      <div class="div-caption-desc">
                        <div class="text-wrapper-3">Автоматизация бизнес-процесса поддержки клиентов</div>
                      </div>
                      <div class="pseudo"></div>
                    </div>
                  </div>
                  <div class="div-tg-container-2"></div>
                </div>
              </div>
            </div>
            <div class="div-pg">
              <img class="img" src="/static/images//icons-rpa-robot-150x150-jpg.png" />
              <div class="div-panel">
                <div class="div-wrapper">
                  <p class="text-wrapper-4">Цифровой сотрудник помогает<br />избавиться от рутинных задач</p>
                </div>
                <div class="p">
                  <p class="text-wrapper-5">
                    С цифровой поддержкой рутинную работу службы выполняют роботы, а не ваши сотрудники. Ответы
                    робота<br />очень похожи на ответы работника поддержки— только<br />быстрее, без пауз и ошибок.
                  </p>
                </div>
              </div>
              <img class="img" src="/static/images//icons-rpa3-2-150x150-jpg.png" />
              <div class="div-panel">
                <div class="div-wrapper">
                  <div class="text-wrapper-4">Не требуется изменять ИТ-<br />инфраструктуру</div>
                </div>
                <div class="p">
                  <p class="text-wrapper-5">
                    Цифровой сотрудник работает с визуальным интерфейсом и<br />устанавливается поверх существующей<br />ИТ-инфраструктуры.
                  </p>
                </div>
              </div>
            </div>
            <div class="div-pg-2">
              <img class="img" src="/static/images//icons-rpa-1-1-150x150-jpg.png" />
              <div class="div-panel">
                <div class="heading-2">Работает со всеми ИТ-системами</div>
                <div class="p-2">
                  <p class="text-wrapper-5">Автоматизируйте любой процесс, на любом сайте и<br />в приложениями.</p>
                </div>
              </div>
              <img class="img" src="/static/images//icon-rpa12-150x150-jpg.png" />
              <div class="div-panel">
                <div class="text-wrapper-4">Быстрое создание цифрового<br />сотрудника</div>
                <div class="p-2">
                  <p class="text-wrapper-5">Быстрота настройки для выполнение операций по ответу на вопросы клиента</p>
                </div>
              </div>
            </div>
            <div class="heading-3">
              <div class="pseudo-2"></div>
              <p class="sherpa-RPA">ПОЧЕМУ КОМПАНИИ ВЫБИРАЮТ ТЕХНОЛОГИЮ SHERPA RPA?</p>
              <div class="pseudo-3"></div>
            </div>
            <div class="div-pg-3">
              <div class="div-service-icon-wrapper">
                <div class="div-service-icon">
                  <img class="icon" src="/static/images//icon.png" />
                  <div class="pseudo-4"></div>
                </div>
              </div>
              <div class="p-wrapper">
                <div class="strong-wrapper">
                  <p class="strong">
                    <span class="span">Начать улучшения быстро<br /></span>
                    <span class="text-wrapper-6"
                      >Цифровая поддержка оптимизирует выполнение<br />процессов не требуя месяцев на<br />внедрение и
                      интеграции за большие деньги</span
                    >
                  </p>
                </div>
              </div>
              <div class="div-panel-2">
                <div class="div-service-icon">
                  <img class="icon-2" src="/static/images//icon-1.png" />
                  <div class="pseudo-4"></div>
                </div>
              </div>
              <div class="div-panel-3">
                <div class="strong-wrapper">
                  <p class="strong">
                    <span class="span">Повысить производительность<br /></span>
                    <span class="text-wrapper-6"
                      >Робот заменяет 3-7 сотрудников <br />поддержки, работает 24 часа в сутки, 7 дней<br />в неделю.
                      Робот не прогуливает, не<br />болеет, не требует мотивации</span
                    >
                  </p>
                </div>
              </div>
              <div class="div-panel-4">
                <div class="div-service-icon">
                  <img class="icon-3" src="/static/images//icon-2.png" />
                  <div class="pseudo-4"></div>
                </div>
              </div>
              <div class="div-panel-5">
                <div class="p-3">
                  <div class="strong-2">
                    <div class="text-wrapper-7">Увеличить скорость выполнения<br />задач</div>
                  </div>
                  <div class="text-wrapper-8">Скорость работы робота измеряется<br />секундами</div>
                </div>
              </div>
            </div>
            <div class="div-pg-4">
              <div class="div-panel-6">
                <div class="div-service-icon">
                  <img class="icon-3" src="/static/images//icon-3.png" />
                  <div class="pseudo-4"></div>
                </div>
              </div>
              <div class="div-panel-7">
                <div class="p-3">
                  <div class="strong-2">
                    <div class="text-wrapper-7">Не заменять существующие ИТ-<br />системы</div>
                  </div>
                  <div class="text-wrapper-8">Не требуется изменять существующие<br />ИТ-системы</div>
                </div>
              </div>
              <div class="div-panel-8">
                <div class="div-service-icon">
                  <img class="icon-3" src="/static/images//icon-4.png" />
                  <div class="pseudo-4"></div>
                </div>
              </div>
              <div class="div-panel-9">
                <div class="strong-wrapper">
                  <p class="strong">
                    <span class="span">Сократить ошибки<br /></span>
                    <span class="text-wrapper-6"
                      >Робот отвечает на 100%<br />вопросов клиентов и не<br />совершает ошибок</span
                    >
                  </p>
                </div>
              </div>
            </div>
            <div class="div-panel-row-style">
              <div class="div-panel-10">
                <div class="div-service-wrapper">
                  <div class="heading-4">
                    <p class="text-wrapper-9">
                      Вы готовы к роботизированной автоматизации процессов,<br />если вам нужно:
                    </p>
                  </div>
                  <div class="div-service-content">
                    <div class="list">
                      <div class="item">
                        <p class="strong-3">
                          <span class="span">Повысить производительность сотрудников</span>
                          <span class="text-wrapper-6">
                            путем сокращения<br />затрат времени на ответы&nbsp;&nbsp;повторяющихся вопросов от
                            клиентов</span
                          >
                        </p>
                      </div>
                      <div class="item">
                        <p class="strong-4">
                          <span class="span">Сократить число ошибок</span>
                          <span class="text-wrapper-6">, связанных с ручным вводом </span>
                        </p>
                      </div>
                      <div class="item">
                        <p class="strong-3">
                          <span class="span">Интегрировать существующие приложения и системы</span>
                          <span class="text-wrapper-6">
                            без<br />
                            дорогостоящей интеграции</span
                          >
                        </p>
                      </div>
                      <div class="item">
                        <p class="strong-3">
                          <span class="span">Расширять бизнес</span>
                          <span class="text-wrapper-6">
                            и достигать более высоких результатов силами<br />имеющегося коллектива</span
                          >
                        </p>
                      </div>
                    </div>
                    <p class="text-wrapper-10">
                      Помогите своим сотрудникам тратить больше времени на самые<br />ценные задачи, а роботам поручите
                      рутинные процессы!
                    </p>
                  </div>
                </div>
              </div>
              <img class="element-scaled" src="/static/images//44-scaled-e1578862432979-1024x596-jpg.png" />
            </div>
            <div class="div-panel-wrapper"><div class="div-panel-11"></div></div>
            <div class="heading-5">
              <div class="pseudo-5"></div>
              <div class="text-wrapper-11">О РОБОТЕ ЦИФРОВОГО<br />СОТРУДНИКА</div>
              <div class="pseudo-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container">
    <div class="chatbox">
        <div class="chatbox__support">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Связь с поддержкой</h4>
                    <p class="chatbox__description--header">Привет. Я Ванда. Как я могу тебе помочь?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div></div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Напишите свой вопрос...">
                <button class="chatbox__send--footer send__button">Отправить</button>
            </div>
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
        </div>
    </div>
</div>

    <script>
        $SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>

</body>
</html>